:root {
    --clr-violet: hsl(257, 40%, 49%);
    --clr-magenta: hsl(300, 69%, 71%);

    --clr-violet-dark: hsl(257, 40%, 19%);

    --ff-accent: 'Poppins', sans-serif;
    --ff-main:'Open Sans', sans-serif;

    --fs-m: 1.1rem;
    --fs-s: 0.75rem;
    --fs-l: 2.25rem;

    --fw-m: 400;
    --fw-l: 600;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: url(images/bg-desktop.svg) no-repeat;
    background-color: var(--clr-violet);
    color: white;
    padding: 2em 2em 0;
    font-family: var(--ff-main);
}

header {
    margin-bottom: 4em;
}

main {
    display: flex;
    align-items: center;
    gap: 3.5em;
    max-width: 90%;
}

h1 {
    font-family: var(--ff-accent);
    font-size: var(--fs-l);
    font-weight: var(--fw-l);
}

p {
    line-height: 1.5;
    letter-spacing: 0.0275em;
    padding: 1.5em 0;
}

button {
    font-size: var(--fs-m);
    color: var(--clr-violet);
    letter-spacing: 0.025em;
    padding: 1em 3.75em;
    border-radius: 2em;
    border-style: none;
    box-shadow: 0.1em 0.1em 0.75em var(--clr-violet-dark);
}